<div>
	<div class="search-filter" role="group" aria-label="...">
		<div class="container">
			<div class="row hidden-xs">
				<div class="col-sm-3">
					<span>SORT BY</span>
				</div>
				<div class="col-sm-9">
					<div class="col-sm-7 col-md-6 pull-right sort-actions">
						<a class="btn btn-distance col-sm-4 sort-distance">Distance<i class="fa fa-chevron-down"></i></a>
						<a class="btn btn-rating col-sm-4 sort-rating">Rating<i class="fa fa-chevron-down"></i></a>
						<a class="btn btn-price col-sm-4 sort-price">Price<i class="fa fa-chevron-down"></i></a>
					</div>
				</div>
			</div>			
			<div class="row visible-xs search-filter-mobile">
				<button type="button" class="btn btn-primary btn-block dropdown-toggle filter-dropdown col-xs-12 " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SORT BY <i class="fa fa-chevron-down"></i></button>  
			 	<ul class="dropdown-menu">
					<li><a class="sort-distance">Distance</a></li>
					<li><a class="sort-rating">Rating</a></li>
					<li><a class="sort-price">Price</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>