.guarantee-section{
	background:#f0efed;
	padding-bottom:10px;
	@media screen and (min-width:@screen-sm-min) and (max-width:@screen-sm-max)
    	{
    		font-size: 90%;
    	}
    h5 {
			font-weight: 700;
	}
}
.no-padding{
	padding:0px;
	margin:0px;
}

.need-to-know{
	color:#ff051a;
}
.bottom-section{
	padding: 20px 0px;
}
.guest-info-section{
	font-size:1em;
}
.guest-title{
	font-size:1.6em;
}
.crib{
	font-size:0.9em;
}
.btn-reservation{
	font-size: 1.25em;
}
.description-summary
{
	@media screen and (min-width:@screen-sm-min) {
		font-size: 14px;
	}
}