<!--<div class="headerinfo">
            
        </div>
<div class="container"><div class="nav-left">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-navicon"></i>
        </button>
        <a class="navbar-brand">
            <h1 class="sr-only">Radisson Blu</h1>
            <img id="brandLogo" src="assets/img/logo_rb.png" alt="Radisson Blu">
        </a>
    </div>
</div>
<div class="nav-right navbar-right">
    <div id="navbar" class=" collapse nav-clear" >
        <ul class="nav navbar-nav">
            {{>navContent}}
        </ul>
    </div>/.nav-collapse -
</div>
</div>->
   <!-- Brand and toggle get grouped for better mobile display -->

<div class="headerinfo">
            
</div>
<nav class="nav-right">
  <div class="container">
 
    <div class="navbar-header">
         <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-navicon"></i>
        </button>
       <a class="navbar-brand">
            <h1 class="sr-only">Radisson Blu</h1>
            <img id="brandLogo" src="assets/img/logo_rb.png" alt="Radisson Blu">
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav pull-right">
            {{>navContent}}
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>