<li><a href="#/findHotel">Find a Hotel <span class="sr-only">(current)</span></a></li>
<li><a href="#/deals">Deals</a></li>
<li><a href="#/meetingEvents">Meeting Events</a></li>
<li><a href="#/clubCarlson">Club Carlson</a></li>
<li><a href="#/myAccount">Welcome Curl</a></li>