<li><a href="#/findHotel">Explore Hotels</a></li>
<li><a href="#/deals">Offers & Packages</a></li>
<li><a href="#/meetingEvents">Meeting & Events</a></li>
<li><a href="#/clubCarlson">About Blu</a></li>
<li><a href="#/myAccount">Contact Us</a></li>