<div class="alertmsg ">
	<div class="container">
	<span class="actfast col-md-5"><i class="fa fa-clock-o"></i> Act fast! Pricing and availability may change</span>
	<span class="cancellation col-md-3"><strong>FREE</strong> Cancellation before Tue, Apr 6</span>
	<span class="closealert col-md-4">Got it <span class="cls">X</span></span>
</div>

</div>
<div class="loggedin welcomemsg container-fluid hidden" id="returnGuest">
	<div class="container">
		<div class="col-md-4"><h1>Welcome Back Curt!</h1>
		<p>Based on your previous stay, we’ve selected the options below we think you’ll like.</p></div>
		<span class="thanks col-md-8">Thank you for being a <strong>Gold status member</strong> since 2002.</span>

	</div>
	
</div>
<div class="container">
	<div class="panel-group row" id="accordion" role="tablist" aria-multiselectable="true">
	    {{>typeRoom}}
	    
	    {{>rewards}}
	    {{>guestInformation}}
	    {{>payment}}
	    {{>reviewBook}}    
	</div>
</div>