 <section class="newsletter">

    <div class="container">
        <div class="formnl">
            <div>
                <h3>Sign up for Newsletter</h3>
                <p>Get special offers and promotions right in your inbox</p>
            </div>
            <input type="text" placeholder="email" />
            <button>Sign Me Up</button>
        </div>
        <section class="stay-connected">
                    <h3>Stay Connected</h3>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-pinterest"></i>
                    <i class="fa fa-google"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-youtube"></i>
                </section>
    </div>
</section>
<section id="brand-footer" class="popular_social clearfix">
    <div class="container">
        <div class="col-sm-8">

                <header>
                    <h3>Contact Us</h3>
                    <span><i class="fa fa-envelope"></i>contact@carlsonrezidor.com</span>
                    <span><i class="fa fa-phone"></i>1 800 123 4567</span>
                </header>
                <div class="row">
                    <ul class="list-unstyled col-sm-3 col-xs-6">
                        <li><a href="#">Carlson Rezidor Hotel Group</a></li>
                        <li><a href="#">New & Upcoming Hotels</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Development Opportunities</a></li>
                        
                    </ul>
                    <ul class="list-unstyled col-sm-3 col-xs-6">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Legal Notice</a></li>
                        <li><a href="#">Ad and Cookie Policy</a></li>
                        <li><a href="#">Site Usage Agreement</a></li>
                    </ul>
                    <ul class="list-unstyled col-sm-3 col-xs-6">
                        <li><a href="#">Responsible Business</a></li>
                        <li><a href="#">Blu Partners</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Travel Agents</a></li>
                    </ul>
                    <ul class="list-unstyled col-sm-3 col-xs-6">
                        <li><a href="#">Best Online Rate Guarantee</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Gift Card</a></li>
                    </ul>
                </div>

        </div>
        <img src="assets/img/footerlogos.png" class="footerlogos" />
    </div>

</section>
<footer class="site-footer">
	<section class="footer-legal">
		<div class="container clearfix">
			<h2 class="sr-only">Legal Information</h2>
			<span>©2016 The Carlson Rezidor Hotel Group. All rights reserved.</span>
		</div>		
	</section>
</footer>