<!-- Navigation Container -->
  
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" id="menu"></nav>

<!-- View Container -->
<div id="content"></div>
<!-- Footer -->
<footer id="footer"></footer>