<!-- <div class="page-header-sm"></div>-->
<section id="modifySearch" class="container" ></section>
<section id="headerContainer" class="page-header container-overlflown fixed
			page-header-book page-header-sm" 
			data-cover="assets/img/recommended3.jpg" data-cover-alt data-cover-size="header" >
    <div id="book-header" class="page-header-wrapper container"></div>
</section>
<section id="filter" ></section>
<section id="content-page" class="main-wrapper booking"></section>
