<article class="book-now">
	<h1 class="sr-only">Button Book Now</h1>
	<div class="book-now-price">
		<span class="from">From</span> <div class="h2 price">${{price}}.00</div>
		<div class="h5 time">USD/{{perNight}}</div>		
	</div>
	<div class="book-now-button">
		<a id="BookNow" class="btn btn-primary">Book Now</a>
	</div>
</article>