<article class="book-now">
	<h1 class="sr-only">Button Book Now</h1>
	<div class="book-now-price">
		<div class="h2 price">${{price}}</div>
		<div class="h5 time">{{perNight}}</div>		
	</div>
	<div class="book-now-button">
		<a id="BookNow" class="btn btn-primary">Book Now</a>
		<div class="h5 guarantee">{{rates}}</div>
	</div>
</article>