<div id="hotelinfo-carousel"  class="owl-carousel owl-theme">
	<div class="hotel-info-image item" data-cover="{{img1}}" data-cover-size="sm">
	    <h1 class="sr-only">Tripadvisor Reviews</h1>
	</div>
	<div class="hotel-info-image item" data-cover="{{img2}}" data-cover-size="sm">
	    <h1 class="sr-only">Tripadvisor Reviews</h1>
	</div>
	<div class="hotel-info-image item" data-cover="{{img3}}" data-cover-size="sm">
	    <h1 class="sr-only">Tripadvisor Reviews</h1>
	</div>
	<div class="hotel-info-image" data-cover="{{img4}}" data-cover-size="sm">
	    <h1 class="sr-only">Tripadvisor Reviews</h1>
	</div>
</div>
