	<div class="hotel-description clearfix">
		<div class="">
			<div class="hotel-info-data">
				{{>hotelInfo}}
				{{>tripadvisorIcon}}
			</div>
			<div>
				<h2 class="sr-only">Hotel Description</h2>
				<p>
					This is a short, alluring selling headline for the selected hotel.
				</p>
				<p>
					Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				</p>
				<div>
					<h2 class="sr-only">Hotel Description</h2>
					{{description}}
				</div>
			</div>
		</div>

		<div class="amenities-list">
			<div class="border"></div>
			<p>Hotel Amenities</p>
			<div class="left">
				<section class="list-actions">
					<ul class="list-group">
						<li href="#" class="list-group-item wifi clearfix ">
							<label class="title">
								<i class="fa fa-wifi icon"></i> Free Wi-Fi
							</label>
						</li>
						<li href="#" class="list-group-item bar-chart clearfix ">
							<label class="title">
								<i class="fa fa-bar-chart icon"></i> 14 Meeting Rooms
							</label>
						</li>
						<li href="#" class="list-group-item cutlery clearfix ">
							<label class="title">
								<i class="fa fa-cutlery icon"></i> On-site Dining
							</label>
						</li>
						<li href="#" class="list-group-item building clearfix ">
							<label class="title">
								<i class="fa fa-building icon"></i> 500 Rooms and Suits
							</label>
						</li>
					</ul>
				</section>
			</div>
			<div class="right">
				<section class="list-actions">
					<ul class="list-group">
						<li href="#" class="list-group-item bolt clearfix ">
							<label class="title">
								<i class="fa fa-bolt icon"></i> Fitness Center
							</label>
						</li>
						<li href="#" class="list-group-item bell clearfix ">
							<label class="title">
								<i class="fa fa-bell icon"></i> Concierge Desk
							</label>
						</li>
						<li href="#" class="list-group-item car clearfix ">
							<label class="title">
								<i class="fa fa-car icon"></i> Valet Parking
							</label>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
