<div class="hotel-info-map" id="scroll-map">
    <section>
        <div class='content-container maps embed-container'>
            <iframe style="pointer-events: none;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD1w6sLwoR7_XIFiPlbm3EA02NWmswjrM8&q=44.852963,-93.24176&zoom=15&maptype=roadmap&center=44.853113, -93.251514" width="100%" height="350px" frameborder="0" style="border:0"></iframe>

            <div id="map-canvas"></div>
        </div>
    </section>
</div>