<div class="reviews" id="scroll-trip">
    <h1 class="sr-only">Tripadvisor Reviews</h1> 
	<div>
	<h1 class="sr-only">Tripadvisor Reviews</h1>
		<img alt="{{alt1}}" src="assets/img/reviews1_desktop.png" style="width: 100%;" />
		<img alt="{{alt2}}" src="assets/img/reviews2_desktop.png" style="width: 100%;" />
	</div>
</div>