.navbar
{
	.transition(all 1s ease);
	.nav-tabs{

	}
}
.nav-clear
{
	clear: both;
}
.navbar-default
{
	.navbar-brand {
		text-transform: uppercase;
		> img
		{
			height: 100%;
			width: auto;
		}
		height: @brand-size-xs;
		padding: @brand-padding-xs 0;
		.transition(all 1s ease);
		i.fa-navicon
		{
			font-size: (@brand-size-xs/4);
			line-height: @brand-size-xs;
		}	
		border-width: 0;
	}
	i.fa-navicon
	{
		.transition(all 1s ease);
		font-size: 30px;
	  	line-height: @brand-size-xs;
		width: @brand-size-xs;
	}
	@media screen and (min-width:@screen-sm-min)
	{
		.navbar-brand {
			height: @brand-size;
	  		padding: @brand-padding 0;
		}
		i.fa-navicon
		{
			line-height: @brand-size;
			width: @brand-size;
		}
	}
}

#menu.complete,#modifySearch.complete{
	.transition(all 1s ease);
	//background:#fff;
	a{
		color:#222 !important;	
	}

	
}
#menu{
	#brandLogoBL{
		display: none;
	}
}
#menu.complete{
	background: #fff;
	.navbar-brand{
		padding: 25px 0;
	}
	.navbar-nav {
		display: none;
	}
	#brandLogo{
		display: none;
	}
	#brandLogoBL{
		display: block;
	}
}
#modifySearch{
	position: relative;
	//width: 100%;
	height: 80px;
	.transition(all 1s ease);
	ul{
		li{
			text-transform: uppercase;
			font-size: 14px;
			color: @gray-light;
			input{
				height: 50px;
				text-transform: uppercase;
			}
			span.btn-primary{
				display: block;
			    line-height: normal;
			    margin-top: 8px;
			    padding: 5px 40px;
			}
		}
	}
	
	.top-search-pane{
			margin: 0px;
			.transition(all 1s ease);
			background: none;
			padding: 15px 0;
			border-bottom: 0px;
		li{
			a{
				line-height: 43px;}
		}
	}
	&.complete{
		//background: red none repeat scroll 0 0;
	    position: fixed;
	    right: 0;
	    top: 35px;
	    width: 80%;
	    z-index: 9999;
	    .transition(all 1s ease);
	    .top-search-pane{
	    	
	    	border: 0px;
	    	input{
	    		background: none;
	    	}
	    	li{
				a{
					line-height: 50px;}
			}
	    }

	}

}
#filter.complete{
	position: fixed;
	top: 120px;
	width: 100%;
	z-index: 100;
	.transition(all 1s ease);
}
.navbar-inverse
{
	.navbar-brand {
		height: @brand-size-inv;
  		padding: @brand-padding-inv 0;
	}

	i.fa-navicon
	{
		font-size: 16px;
		line-height: @brand-size-inv;
	}	
	border-width: 0;
	.pull-right{
		margin-top: 0px !important;
	}
}

.navbar-toggle {
	float: left;
	margin: 0;
	margin-left: 15px;
	margin-right: 0;
	padding: 0;
}
#home-search .search-inverse{
	position:fixed;
	top: 85px;
	background: #000;
	z-index: 1000;
}
.page-hotelList{
	.navbar-inverse
	{

		.navbar-brand {
			height: @brand-size-inv;
	  		padding: @brand-padding-inv 0;
		}

		i.fa-navicon
		{
			font-size: 16px;
			line-height: @brand-size-inv;
		}	
		border-width: 0;
		.pull-right{
			margin-top: 0px !important;
		}
	}

}