<div class='content-container maps embed-container'>
	<iframe  style="pointer-events: none;" src="https://maps.googleapis.com/maps/api/staticmap?center=44.852963,-93.24176&zoom=12" width="100%" height="{{map_height}}" frameborder="0" style="border:0"></iframe>
</div>
