 <div class="container-fluid">
        {{!-- BOTTOM RIGHT --}}        

        {{> hotelImages img1="assets/img/info_room_king_.jpg" img2="assets/img/blu/info_lobby.png" img3="assets/img/blu/info_pool.png" img4="assets/img/blu/info_veranda.png" }}    
            

    </div>
<div class="secondarynav container-fluid">
  <ul class="container">
    <li><a href="#"><i class="fa fa-home"></i></a></li>
    <li><a href="#">Location</a></li>
    <li><a href="#">Rooms</a></li>
    <li><a href="#">Restaurant</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Meetings & Events</a></li>
    <li><a href="#">Hotel Deals</a></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Reviews</a></li>
  </ul>
</div>
<div class="hotel-info-top">
   <div class="container-fluid">
       <div class="row">
        <div class="hotel-info-top-left col-sm-2">
               {{!-- TOP LEFT --}}            
               {{> hotelDescription }}
            </div>
            <div class="hotel-info-top-left col-sm-6">
              <div class="row infotop">
                <div class="col-sm-12 ">
                  <h2>Discover Chicago from our Hotel’s Central Downtown Location</h2>
                   {{!-- TOP LEFT --}}            
                   <p>{{body}}</p>
                   <a>More</a>
                </div>
              </div>
              <div class="row infobottom">
                <div class=" col-sm-6">
                  <h3>Stay at our Hotel's Lakefront location in Downtown Chicago</h3>
                  <p>An architectural marvel, the Radisson Blu Aqua hotel rises high in the city skyline and offers expansive views of Lakeshore East Park, Millennium Park and Lake Michigan. Visit numerous iconic attractions just minutes from our hotel’s location in downtown Chicago, from Navy Pier to North Michigan Avenue. We are also convenient for travelers, thanks to our on-site parking and a location within 18 miles of both Chicago O’Hare International Airport and Chicago Midway Airport. Whether you’re browsing art galleries along the Magnificent Mile or strolling by the lake, you’ll find a wealth of things to do near the Radisson Blu Aqua.</p>
                 </div>
                 <div class="col-sm-6">
                    Nearby transport:
                    <ul>
                      <li>Chicago’s Union Station — 1.8 miles</li>
                      <li>Chicago Midway Airport — 12 miles</li>
                      <li>Chicago O’Hare International Airport —  18 miles</li>
                    </ul> 
                 </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div id="TA_cdsratingsonlywide232" class="TA_cdsratingsonlywide">
<ul id="vFDIqe5" class="TA_links vq8AhgegIUPy">
<li id="rDRo7PETj19" class="Hzd7PN9U">
<a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a>
</li>
</ul>
</div>
<script src="http://www.jscache.com/wejs?wtype=cdsratingsonlywide&amp;uniq=232&amp;locationId=2042562&amp;lang=en_US&amp;border=true&amp;display_version=2"></script>

                </div>
              </div>
              
            </div>
            <div class="hotel-info-top-right col-sm-4">
              <div class="ataglance">
                <h5>At a Glance</h5>
                <ul>
                  <li><i class="fa fa-pencil"></i></li>
                  <li><i class="fa fa-bed"></i></li>
                  <li><i class="fa fa-pencil"></i></li>
                  <li><i class="fa fa-paw"></i></li>
                  <li><i class="fa fa-map-signs"></i></li>
                  <li><i class="fa fa-map-spoon"></i></li>
                  
                </ul>
              </div> 
            </div>
       </div>
   </div>
</div>


{{> mobileButtons}}
