 <div class="container-fluid">
        {{!-- BOTTOM RIGHT --}}        

        {{> hotelImages img1="assets/img/info_room_king_.jpg" img2="assets/img/blu/info_lobby.png" img3="assets/img/blu/info_pool.png" img4="assets/img/blu/info_veranda.png" }}    
            

    </div>

<div class="hotel-info-top">
   <div class="container">
       <div class="row">
            <div class="hotel-info-top-left col-sm-5">
               {{!-- TOP LEFT --}}            
               {{> hotelDescription }}
            </div>
            <div class="hotel-info-top-right col-sm-7">
               {{!-- TOP LEFT --}}            
               {{> hotelMap }} 
            </div>
       </div>
   </div>
</div>


{{> mobileButtons}}
