<section id="home-search">



{{> HomeCarousel}}
    
<div class="container">
    {{!-- <ul class="nav nav-tabs">
        <li class="active">Find Hotels</li>
        <li>My Reservations</li>
    </ul> --}}
 <section class="search-pane fixTop" id="searchbar">
    <ul class="nav nav-tabs homeTabs">
        <li class="active homeTab"><a href="#">Find Hotels</a></li>
        <li class="homeTab"><a href="#">My Reservations</a></li>
    </ul>
    <div class="">
                    <div class="search-box col-xs-12">
                        
                        <input type="search" placeholder="Where do you want to go?" class="user-success">
                        <section class="list-actions list-results collapse slideUp" style="display: none;">
                        <div class="list-group">
                            <a href="#" class="list-group-item crosshairs clearfix list-group-item-gray">
                                <div class="wrapper">
                                    <div class="icon-wrapper ">
                                        <i class="fa fa-crosshairs icon"></i>
                                    </div>
                                    <div class="content col-xs-9 col-md-10">
                                        <span class="title">Chicago O'Hare International Airport</span>
                                        <span class="location">Illinois, United States </span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item map-marker clearfix list-group-item-gray">
                                <div class="wrapper">
                                    <div class="icon-wrapper ">
                                        <i class="fa fa-map-marker icon"></i>
                                    </div>
                                    <div class="content col-xs-9 col-md-10">
                                        <span class="title">North Chicago</span>
                                        <span class="location">Illinois ,United States</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item hotel clearfix list-group-item-gray">
                                <div class="wrapper">
                                    <div class="icon-wrapper ">
                                        <i class="fa fa-hotel icon"></i>
                                    </div>
                                    <div class="content col-xs-9 col-md-10">
                                        <span class="title">Radisson Red Shaumburg</span>
                                        <span class="location">Illinois, United States</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item map-marker clearfix list-group-item-gray">
                                <div class="wrapper">
                                    <div class="icon-wrapper ">
                                        <i class="fa fa-map-marker icon"></i>
                                    </div>
                                    <div class="content col-xs-9 col-md-10">
                                        <span class="title">West Chicago</span>
                                        <span class="location">Illinois, United States</span>   
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item hotel clearfix list-group-item-gray">
                                <div class="wrapper">
                                    <div class="icon-wrapper ">
                                        <i class="fa fa-hotel icon"></i>
                                    </div>
                                    <div class="content col-xs-9 col-md-10">
                                        <span class="title">Radisson Red Chicago O'Hare </span>
                                        <span class="location">Illinois, United States</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </section>
                    </div>
                    
                    <section class="list-actions list-details list-selection col-xs-12" id="accordion"  role="tablist" aria-multiselectable="true">
                        {{> DatePicker}}
                    </section>
                    <section>
                        <input type="checkbox" style="display: inline-block">
                        <p class="bookPoints">Book with Points</p>
                    </section>
                    
                </section>
            </div>
</section>
</div>

<section class="promotions">
    {{> PromotionsHome}}
</section>

