<div id="botContainer" class="container">
	<div class="row">
		<div id="firstCont" class="col-sm-4">
			{{promoTitle}}
			<p>ID: {{nid}}</p>
			<p>Description: {{descrption}}</p>
		</div>
		<div id="secondCont" class="col-sm-4">
			
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>
<style>
	#botContainer {
	}
	#botContainer .col-sm-4{
		border: 1px solid blue;
	}
</style>