<div id="owl-demo" class="owl-carousel owl-theme">
     <div class="item"><video autoplay loop id="bgvid">
     	 <source src="assets/img/radblu_video.mp4" type="video/mp4">
    <source src="assets/img/radblu_video.webm" type="video/webm">
   
</video>
<div class="container"><h1>This Holiday Rediscover the Windy City</h1></div>
</div>
     <!-- <div class="item"><div class="container"><h1>This Holiday Rediscover the Windy City</h1></div><img src="assets/img/rotator1.jpg"></div>
      <div class="item"><div class="container"><h1>This Holiday Rediscover the Windy City</h1></div><img src="assets/img/rotator1.jpg"></div>
      <div class="item"><div class="container"><h1>This Holiday Rediscover the Windy City</h1></div><img src="assets/img/rotator1.jpg"></div>
  -->
     
    </div>

