<div id="owl-demo" class="owl-carousel owl-theme">
     
      <div class="item"><div><h1>This Holiday Rediscover the Windy City</h1></div><img src="assets/img/rotator1.jpg"></div>
      <div class="item"><div><h1>This Holiday Rediscover the Windy City</h1></div><img src="assets/img/rotator1.jpg"></div>
      <div class="item"><div><h1>This Holiday Rediscover the Windy City</h1></div><img src="assets/img/rotator1.jpg"></div>
     
    </div>

