<div class="container">
	
	<div class="row">
		
		<section  class="col-sm-3 filters">
			<span class='btn clearbtn'>Clear</span>
			<div class="facets">
				<h4>Rating</h4>
				 <img src="assets/img/tripadvisor.png" class="tripimg" />
				<div class="form-group">
					<input type="checkbox" /> <img src="assets/img/tripadvisor5.png" /> <span class="pull-right">$200</span>
				</div>
				<div class="form-group">
					<input type="checkbox" /> <img src="assets/img/tripadvisor4.png" /> <span class="pull-right">$200</span>
				</div>
				<div class="form-group">
					<input type="checkbox" /> <img src="assets/img/tripadvisor3.png" /> <span class="pull-right">$200</span>
				</div>
				<div class="form-group">
					<input type="checkbox" /> <img src="assets/img/tripadvisor2.png" /> <span class="pull-right">$200</span>
				</div>
				<div class="form-group">
					<input type="checkbox" /> <img src="assets/img/tripadvisor1.png" /> <span class="pull-right">$200</span>
				</div>

			</div>
			<div class="facets">
				<h4>Price</h4>
				<div class="form-group">
					<input type="range" min="100" max="500" step="10"/> <a class="pull-right">Show All</a>
				</div>
				
			</div>
			<div class="facets">
				<h4>Hotel Name</h4>
				<div class="form-group form-inline">
					<input type="text" class="form-control" placeholder="Hotel Name/Brand" /><span class="btn btn-primary">Go</span>
				</div>
				
			</div>
			<div class="facets">
				<h4>Location</h4>
				<div class="form-group">
					<select class="form-control">
						<option>Any Mile</option>
					</select>
					<input type="text" class="form-control"  placeholder="Chicago(City Center)" />
				</div>
				<span class="fsub">Neighborhoods</span>
				<div class="form-group">
					<input type="checkbox" /> Near North Side
				</div>
				<div class="form-group">
					<input type="checkbox" /> Loop
				</div>
				<div class="form-group">
					<input type="checkbox" /> Accesible Bathroom (2)
				</div>
				<div class="form-group">
					<input type="checkbox" /> Lake View
				</div>
				<div class="form-group">
					<input type="checkbox" /> West Town
				</div>
				<div class="form-group">
					<input type="checkbox" /> Near West Side
				</div>
				<a>See More</a>
			</div>
			<div class="facets">
				<h4>Amenities</h4>
				<div class="form-group">
					<input type="checkbox" /> Beach Access (0)
				</div>
				<div class="form-group">
					<input type="checkbox" /> Business Center (2)
				</div>
				<div class="form-group">
					<input type="checkbox" /> Fitness Center (3)
				</div>
				<div class="form-group">
					<input type="checkbox" /> Free Breakfast (2)
				</div>
				<div class="form-group">
					<input type="checkbox" /> Free High Speed Internet (0)
				</div>
				<div class="form-group">
					<input type="checkbox" /> Indeer Parking (2)
				</div>
				<div class="form-group">
					<input type="checkbox" /> Meeting Facilities (3)
				</div>
				<div class="form-group">
					<input type="checkbox" /> Pets Welcome (2)
				</div>
				<a>See More</a>
			</div>
			<div class="facets">
				<h4>Accesibility</h4>
				<div class="form-group">
					<input type="checkbox" /> Accesible Bathroom (2)
				</div>
				<div class="form-group">
					<input type="checkbox" /> In-Room Accesibility (3)
				</div>
				<div class="form-group">
					<input type="checkbox" /> Roll-In Shower (2)
				</div>


			</div>
		</section>
		<section class="col-sm-9">
			<h2> <small>Hotels in Chicago</small></h2>
			<article class="horizontal-promotion">
		         <img src="assets/img/promotions/horizontal1.jpg" />
		      </article>
		      <section id="currentBranchResults" >

    
		</section>
		<span class="btn btn-viewmore">View More</span>
		</section>

		
	</div>
</div>


<section class="popular-destinations">
    
</section>