
.ribbon-theme(@color, @bg)
{
	background-color: @bg;
	.ribbon-heading
	{
		color: @color;
	}
	.ribbon-actions
	{
		background-color: darken(@bg, 10%);		
	}
}

.ribbon
{
	.clearfix();
	font-family: @font-family-lato;
	color:@ribbon-default-text;	
	padding:35px 0;
	p{
		color:@ribbon-default-text;
	}
	h4{
		font-weight: 300;
		font-size: 40px;
		text-transform: initial;
		color:@ribbon-success-text;
	}

	i{
		font-weight: 300;
		font-size: 30px;

		color:@ribbon-success-text;
	}
	.ribbon-heading
	{
		padding: @ribbon-padding;
		float: left;
		h1, h2, h3, h4, h5, h6
		{
			float: left;
			margin: 0;
		}
		@media screen and (max-width:@screen-xs-max){
			h4
			{
				font-size: 18px;
			}
		}
	}
	.ribbon-actions
	{
		float: right;		
		
	}
	&-default
	{
		.ribbon-theme(@ribbon-default-text, @ribbon-default-bg);
		@media screen and (max-width:@screen-xs-max){
			h3
			{
				font-size: 1.7em;
			}
		}
	}
	&-success
	{
		.ribbon-theme(@ribbon-success-text, @ribbon-success-bg);
		.icon-inverse-success{
			color:@ribbon-default-text;
		}
	}
	&-danger
	{
		.ribbon-theme(@ribbon-danger-text, @ribbon-danger-bg);
	}
	&-warning
	{
		.ribbon-theme(@ribbon-warning-text, @ribbon-warning-bg);
	}
}
